.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
}

.editor-container.collapsed {
    flex-grow: 0;   
}

.editor-container.collapsed .CodeMirror-scroll{
    position: absolute;
}

.editor-title {
     display: flex;
     align-items: center;
     gap: 4px;
     justify-content: space-between;
     background-color: hsl(225, 6%, 13%);
     color : white;
     padding : .5rem .5rem .5rem 1rem;
     border-top-right-radius: .5rem;
     border-top-left-radius: .5rem;
}
.CodeMirror {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.code-mirror-wrapper {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

